@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.cases {

  &__container {
    @extend %container;
  }

  &__grid {
    display: grid;

    border-radius: 12px;
    background-color: $color-gray-bg;

    grid-template-areas: "ttl ttl biz biz tpg" "hll hll biz biz tpg" "look adt adt clk clk";
    grid-template-columns: 1.5fr 0.5fr 1.5fr 0.4fr 2fr;
    //grid-template-columns: 320px 113px 340px 113px 433px;
    grid-template-rows: 57px 1fr 1fr;
    @include md-xx {
      grid-template-areas: "ttl" "hll" "biz" "tpg" "look" "adt" "clk";
      grid-template-columns: repeat(1, 1fr);
    }
  }

  & .case-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 20px;

    border: 1px solid $color-white;

    gap: $gap;

    &__title {
      color: $color-primary-soft;

      font-size: 24px;
      line-height: 28px;

      &-main {
        text-transform: uppercase;

        color: $color-accent;

        font-size: 14px;
        line-height: 17px;
      }
    }

    &__description {
      color: $color-gray-text;

      font-size: 18px;
      line-height: 26px;
    }
  }

  &__title {
    min-height: 57px;

    grid-area: ttl;
    @include ul-min {
      border-radius: 12px 0 0 0;
    }
    @include ul-xs {
      border-radius: 12px 12px 0 0;
    }
  }

  & .hilel {
    grid-area: hll;
  }

  & .biz {
    grid-area: biz;
  }

  & .tapgerine {
    grid-area: tpg;
    @include ul-min {
      border-radius: 0 12px 0 0;
    }
  }

  & .look {
    grid-area: look;
    @include ul-min {
      border-radius: 0 0 0 12px;
    }
  }

  & .adtelligent {
    grid-area: adt;
    @include ul-xs {
      border-radius: 0 0 0 12px;
    }
  }

  & .clikky {
    border-radius: 0 0 12px 0;

    grid-area: clk;
  }
}
