@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.footer {
  padding-bottom: 40px;

  @include xs-xx {
    margin-top: 0;
  }

  &__container {
    @extend %container;
  }

  &__line {
    height: 4px;

    background-color: $color-gray-separator;
  }

  &__separator {
    width: 6px;
    height: 6px;

    border-radius: 3px;
    background: $color-gray-text;

    @include xs-xx {
      display: none;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    padding-top: 30px;

    @include sm-xx {
      align-items: center;
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    gap: $gap;
  }

  &__info-content {
    display: flex;
    align-items: center;

    gap: $gap;
    @include xs-xx {
      flex-direction: column;

      gap: $gap-sm;
    }
  }

  &__address {
    color: $color-primary;

    font-weight: 500;
    line-height: 19px;
  }

  &__map {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active;

    font-size: 12px;
    font-weight: 700;
    line-height: 14px;

    &:hover {
      color: $color-accent;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    gap: 13px;
    @include xs-xx {
      flex-direction: column;
    }
  }

  &__facebook-logo {
    fill: $color-active;

    &:hover {
      fill: $color-accent;
    }
  }

  &__phone-link {
    text-align: right;

    color: $color-primary-alt;

    font-weight: 700;
    line-height: 19px;
  }

  &__e-mail {
    color: $color-active;

    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

    &:hover {
      color: $color-accent;
    }
  }

  &__info-privacy {
    color: $color-gray-text;

    line-height: 19px;

    @include sm-xx {
      padding-top: $gap;
    }
  }
}
