@use "../../../node_modules/normalize.css/normalize";

@use "common";
@use "pages/home/header";
@use "pages/home/experience";
@use "pages/home/services";
@use "pages/home/team";
@use "pages/home/cases";
@use "pages/home/clients";
@use "pages/home/publications";
@use "pages/home/footer";