@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.service-header {
  border-radius: 0 0 12px 12px;
  background-image: url("../img/service-page/service-header.png");
  background-repeat: no-repeat;
  background-size: cover;


  .page-service {
    &__wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &-item {
      display: flex;
      flex-direction: column;

      max-width: 860px;
      padding-bottom: 80px;

      gap: 30px;
      @include xs-min {
        align-items: center;

        text-align: center;
      }

      &__title {
        font-size: 42px;
        line-height: 50px;

        @extend %text-liner-gradient2;
      }

      &__description {
        display: flex;
        flex-direction: column;

        gap: 30px;

        &-content {
          color: $color-white;

          font-size: 21px;
          line-height: 1.43;
        }
      }

      &__button {
        display: flex;
        justify-content: center;

        width: 250px;
        height: 50px;
        margin-top: 10px;

        color: $color-white;
        border: none;
        border-radius: 12px;
        background: $color-active;
        box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);

        font-weight: 700;

        &-link {
          display: flex;
          align-items: center;

          padding: 0 35px 0;

          font-size: 14px;
          line-height: 17px;
        }
      }
    }

    &-variables {
      display: flex;
      flex-direction: column;

      max-width: 1100px;

      border-top: 4px solid rgba($color-white, 0.5);

      gap: 20px;

      li {
        list-style-type: none;
      }

      li:before {
        padding-right: 8px;

        content: "•";

        color: $color-accent;

        font-weight: 700;
      }

      &__title {
        padding-top: $gap;

        color: $color-white;

        font-size: 24px;
        line-height: 28px;
      }

      &__content {
        display: flex;
        justify-content: center;

        width: 95%;
        margin: 0 auto;
        padding-bottom: 100px;

        gap: 75px;
        @include xs-xx {
          flex-direction: column;

          gap: $gap;
        }
      }

      &__list-left {
        display: flex;
        flex-direction: column;

        gap: $gap;
        @include xs-min {
          width: 50%;
        }
      }

      &__list-right {
        display: flex;
        flex-direction: column;

        gap: $gap;
        @include xs-min {
          width: 54%;
        }
      }

      &__item {
        color: $color-white;

        font-size: 18px;
        line-height: 1.44;
      }
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__logo-image {
    width: 100%;
  }

  &__menu {
    grid-area: menu;
  }

  &__actions {
    grid-area: actions;
  }

  &__secondary {
    padding-top: 73px;
  }

  &__grid {
    display: grid;

    @extend %container;
    gap: $gap;
    grid-template-columns: auto 1fr;
    @include sm-min {
      padding-top: 50px;

      grid-template-areas: "logo actions" "logo menu";
    }
    @include md {
      padding-top: $gap;

      grid-template-areas: "actions actions" "logo menu";
    }
  }

  .actions-secondary {
    display: flex;
    align-items: center;

    gap: 10px;
    @include md-min {
      justify-content: flex-end;
    }
    @include md-sm {
      justify-content: center;
    }
    @include sm {
      justify-content: space-between;
      a {
        color: $color-gray-text;
      }
    }
  }
}

.publications-gray {
  margin-top: 40px;

  background-color: $color-gray-bg;
}
