@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.team {
  padding-bottom: 40px;

  &__container {
    @extend %container;
  }

  &__grid {
    display: grid;

    margin-bottom: 20px;

    border-radius: 12px;
    background-color: $color-gray-bg;

    column-gap: $gap-md;
    grid-template-areas: "img link" "img ttl" "img prn" "img post";
    grid-template-columns: 415px 2fr;
    @include md-xs {
      padding: 20px 0;

      gap: 20px;
      grid-template-areas: "link" "ttl" "img" "prn" "post";
      grid-template-columns: 1fr;
      justify-items: center;
    }
    @include xs-xx {
      padding: 20px;

      gap: 10px;
      grid-template-areas: "link link" "ttl ttl" "img prn" "img post";
      grid-template-columns: 75px 1fr;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__manager {
    width: max-content;
    min-height: 100%;

    grid-area: img;
  }

  &__manager-image {
    min-height: 100%;

    border-radius: 12px 0 0 12px;

    @include md-xs {
      border-radius: 12px;
    }
    @include xs-xx {
      width: 75px;
      height: 75px;

      border-radius: 120px;

      object-fit: cover;
    }
  }

  &__page-link {
    display: flex;
    align-items: center;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-active;

    font-size: 14px;

    gap: 2px;
    grid-area: link;
    stroke: $color-active;
  }

  &__title {
    max-width: 800px;

    font-size: 42px;
    font-weight: 700;
    line-height: 50px;

    @extend %text-liner-gradient2;
    grid-area: ttl;
    @include md-min {
      margin-bottom: -40px;
    }
    @include md-xs {
      text-align: center;
    }
    @include xs-xx {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__person {
    color: $color-gray-text;

    font-size: 18px;
    font-weight: 500;
    line-height: 21px;

    grid-area: prn;

    &:hover {
      color: $color-accent;
    }
  }

  &__post {
    color: $color-gray-text;

    font-style: normal;
    line-height: 1.38;

    grid-area: post;
    @include lg-min {
      margin-top: -70px;
    }
    @include lg-md {
      margin-top: -55px;
    }
    @include xs-xx {
      margin-top: -15px;
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;

    gap: 14px;
  }

  &__indicator {
    width: $size;
    height: $size;

    opacity: 0.2;
    border-radius: $size * 0.5;
    background-color: $color-active;


    &.active {
      opacity: 1;
    }
  }
}
