$ul: 1360px;
$lg: 1280px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xx: 320px;

$gap: 20px;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 2;

$font-size: 16px;
$font-primary: "TT Norms", sans-serif;

$mobile-menu-size: 170px;
$size: 16px;
